 .lorem-one{
    background-color: antiquewhite;
    padding: 30px;
    font-family: verdana;
 }
 .personality{
   font-family: Georgia;
   font-size: 30px;
   border: 4px;
 }
 .his words{
   
   
   border: 4px;
   margin: 5px;
   padding: 7px;
   font-style: italic;

 }
 
